@media (max-width: 867px) {
    .posts-container {
        width:99.5%;
    }

    .sidebar {
        display:none;
    }
}

@media (max-width: 767px) {
    body {
        width:100%;
        padding:0;
        margin:0;
    }
}

@media (max-width: 640px) {
    #header-nav {
        height:130px;
        position:relative;
    }

    #header-nav > * {
        margin:0;
        padding:0;
        display:block;
    }

    #header-nav h2 {
        margin:0;
        margin-left:1em;
        text-align:left;
        float:left;
    }

    #header-nav .nav {
        margin-top:30px;
    }

    #header-nav .section-points {
        float:left;
        margin-left:1em;
    }

    #header-nav .nav {
        width:100%;
    }

    .post-piece .post-points {
        width:100%;
    }

    .post-piece .post-data {
        width:100%;
        left:0;
    }

    .post-piece .post-thumbnail {
        margin:0 auto;
        float:none;
        display:block;
        left:0;
        top:0;
        position:static;
    }

    .post-piece .post-thumbnail img {
        float:left;
    }

    .post-piece .breaker {
        display:inline;
    }

    .post-piece .breaker.data-summary {
        display:block;
    }

    .post .post-piece .breaker.data-title {
        display:none;
    }

    .comment-piece .comment-points {
        width:100%;
    }

    .comment-piece .comment-data {
        width:100%;
    }

    .comment-piece .breaker {
        display:inline;
    }

    .post ul {
        margin:0 0 10px 2%;
    }
}
