pre, code {
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size:12px;
}

html, body {
	background-color:#333;
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size:12px;
}

h1 {
    font-size:14px;
    text-transform: none;
}

table {
    width:100%;
}

img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter:none;
}

iframe {
    display:block;
    border:0;
}

.post-piece iframe,
.comment-piece iframe {
    height:24em!important;
    width:100%!important;
}

*::-webkit-input-placeholder {
    color: #222;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #222;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #222;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #222;
}

#fullpage-container {
	position:relative;
	min-height:100%;
}

a {
	color:#BCD42A;
}

textarea, input, input[type] {
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size:12px;
    background-color:#fff;
    width:80%;
}
textarea {
	height:6em;
}

hr {
    border-color:#888;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar {
	background-color:#222;
	box-shadow: 5px 1px 5px #111;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar li a {
	background-color:#222;
	color:#BBB;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar li.active a {
	background-color:#CCC;
	color:#222;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar a.brand {
	background-color:#222;
	color:#BBB;
}

.commentbranch li,
.nav li {
    list-style:none;
}

#footer-navbar {
	margin-bottom:0px;
}

#footer-navbar .navbar.navbar-inverse .navbar-inner.dark-navbar {
    background-color:transparent;
}

.strikethrough {
    text-decoration:line-through;
}

.no-margin { margin:0; }

#header-nav {
	width:100%;
	height:60px;
	background:url(/assets/images/header.jpg);
	background-repeat:no-repeat;
	position:relative;
}

.user-layout #header-nav {
	background:url(/assets/images/header-user.jpg);
}

#header-nav h2 {
	display:inline;
	float:left;
	margin-left:20px;
	margin-right:10px;
}

#header-nav .section-points {
    float:left;
    margin-right:35px;
}

#header-nav .nav {
	background:transparent;
}

.navbar #header-nav .nav > li {
	margin-right:10px;
}

#user-navbar {
	margin-left:50px;
}

.align-bottom {
	position:absolute;
	bottom:0px;
}

a.vote {
	color:#0087AF;
	font-size:1.5em;
}

.logged-in .vote:hover {
	cursor:pointer;
}

.logged-out .vote:hover {
	cursor:not-allowed;
}

.vote.selected {
	color:#EF7C61;
}
.vote.selected:hover {
	cursor:not-allowed;
}
.vote.disable-click:hover {
	cursor:not-allowed;
}

.posts-container {
    float:left;
    /* nobody here uses ie 8.. tgis */
    width:calc(99.5% - 310px);
    word-wrap:break-word;
    word-break:break-all;
}

.post-piece {
    width:100%;
    clear:both;
    display:block;
    overflow:hidden;
    padding:0.25em;
    min-height:72px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.post-piece:nth-child(odd) {
    background-color:#383838;
}

.post .post-piece {
    min-height:calc(8em + 72px);
}

.post-points {
    float:left;
    width:16em;
    display:inline-block;
}

.post-data {
    float:right;
    display:inline-block;
    width:calc(100% - 16em - 138px);
    word-wrap:normal;
    word-break:normal;
}

.post .post-data .data-data {
    min-height:90px;
}

ul li {
    list-style:circle;
}

ol li {
    list-style:decimal;
}

.post-url {
    word-wrap:break-word;
    word-break:break-all;
    font-size:0.9em;
}

.post-thumbnail {
    float:left;
    display:inline-block;
    width:128px;
    height:72px;
}

.post-thumbnail img {
    width:128px;
    height:72px;
}

.post {
	margin-bottom:0.25em;
}

.post .post-thumbnail {
    position:relative;
    left:-16em;
    top:7em;
}

.post .post-data {
    width:calc(100% - 16em - 128px);
    position:relative;
    left:-120px;
}

.comment-piece {
	margin-bottom:0.55em;
	background-color:#484848;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    overflow:auto;
}

.comment-alt {
    background-color:#383838;
}

.comment-points {
    float:left;
    width:16em;
    display:inline-block;
}

.comment-data {
    float:right;
    display:inline-block;
    width:calc(100% - 16em);
    word-wrap:normal;
    word-break:normal;
}

.summary {
    color:#777;
    font-size:0.9em;
}

.reply:hover, .source:hover, .edit:hover {
	cursor:pointer;
}

.reply-button-form {
    margin:0;
    display:inline-block;
}

.reply-button-form button {
    background:none;
    border:0;
    padding:0;
}

.reply-button-form button label {
    font-family: Monaco,Consolas,"Lucida Console",monospace;
}

.navbar-inverse .nav > li.unread-notifications > a {
	color:rgb(192, 110, 17)!important;
}

.sidebar {
	min-width:300px;
	max-width:300px;
	float:right;
    background-color:#383838;
}

.sidebar h2 {
    white-space: normal
}

.notification-read {
	padding:1em;
	margin:1em;
	margin-bottom:0;
	border:1px solid rgba(83, 83, 24, 1);
}

.notification-unread {
	padding:1em;
	margin:1em;
	margin-bottom:0;
	border:1px solid rgba(147, 73, 56, 1);
}

.notification-read header,
.notification-read footer,
.notification-unread header,
.notification-unread footer {
	background:rgba(255, 255, 255, 0.1);
}

input.collapse { display:none; }
input.collapse + *{ display:none; }
input.collapse:checked + *{ display:block; }

.comment-piece label,
.post-piece label {
    font-size:12px;
    display:inline-block;
    color:#BCD42A;
}

#sections-navbar .nav {
    height:20px;
    width:100%;
    overflow:hidden;
    background:#222;
}

.section-title a {
    color:#DDD;
}

.comment-piece a {
    color:#DDD;
}

.post-piece a {
    color:#DDD;
}

.username {
    color:#DDD;
}

a.user-anonymous {
    color:#FCD;
}

.post-data a,
.comment-data a {
    color:#BCD42A;
}

a.post-section {
    color:#CCC;
}

.lazy-loaded:hover {
    cursor:pointer;
}

address:after, address:before, cite:after, cite:before, dfn:after, dfn:before, em:after, em:before, i:after, i:before, var:after, var:before { content: ''; }

em {
    font-style:italic;
}

.help-nav {
    float:left;
    background-color:#444;
    margin:2em;
    padding:2em 2em 2em 1em;
}

.help-page {
}

.help-page pre {
    background-color:#555;
    color:#FFF;
}

.comment-reply-box-page {
    padding-left:1em;
}
