pre, code {
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size:12px;
}

html, body {
	background-color:#333;
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size:12px;
	height:100%;
}

h1 {
        font-size:14px;
        text-transform: none;
}

table {
    width:100%;
}

img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter:none;
}

*::-webkit-input-placeholder {
    color: #222;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #222;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #222;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #222;
}

#fullpage-container {
	position:relative;
	min-height:100%;
}

a {
	color:#BCD42A;
}

textarea, input, input[type] {
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size:12px;
    background-color:#fff;
	width:80%;
	height:6em;
}

hr {
    border-color:#888;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar {
	background-color:#222;
	box-shadow: 5px 1px 5px #111;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar li a {
	background-color:#222;
	color:#BBB;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar li.active a {
	background-color:#CCC;
	color:#222;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar a.brand {
	background-color:#222;
	color:#BBB;
}

#footer-navbar {
	position:fixed;
	bottom:0;
	right:0;
	margin-top:100px;
	margin-bottom:0px;
}

.strikethrough {
    text-decoration:line-through;
}

.no-margin { margin:0; }

#header-nav {
	width:100%;
	height:60px;
	background:url(/assets/images/header.jpg);
	background-repeat:no-repeat;
	position:relative;
}

.user-layout #header-nav {
	background:url(/assets/images/header-user.jpg);
}

#header-nav h2 {
	display:inline;
	float:left;
	margin-left:20px;
	margin-right:50px;
}

#header-nav .nav {
	background:transparent;
}

.navbar #header-nav .nav > li {
	margin-right:10px;
}

#user-navbar {
	margin-left:50px;
}

.align-bottom {
	position:absolute;
	bottom:0px;
}

.vote {
	color:#0087AF;
	font-size:1.5em;
}

.vote:hover {
	cursor:pointer;
}

.vote.selected {
	color:#EF7C61;
}
.vote.selected:hover {
	cursor:not-allowed;
}
.vote.disable-click:hover {
	cursor:not-allowed;
}

.posts-container {
    float:left;
    width: calc(100% - 310px); /* nobody here uses ie 8.. tgis */
    word-wrap:break-word;
    word-break:break-all;
}

.post-piece {
    width:100%;
    clear:both;
    display:block;
    overflow:auto;
    padding:0.25em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.post-piece:nth-child(odd) {
    background-color:#383838;
}

.post-points {
    float:left;
    width:16em;
    display:inline-block;
}

.post-data {
    float:right;
    display:inline-block;
    width:calc(100% - 16em);
    word-wrap:normal;
    word-break:normal;
}

.post-data ul li {
    list-style:circle;
}
.post-data ol li {
    list-style:decimal;
}

.post-url {
    word-wrap:break-word;
    word-break:break-all;
    font-size:0.9em;
}
@media (max-width: 1200px) {
    .posts-container {
        width: 100%;
    }

    .sidebar {
        display:none;
    }
}

.post {
	margin-bottom:0.25em;
}

.comment-piece {
	margin-bottom:0.55em;
	background-color:#484848;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    overflow:auto;
}

.comment-points {
    float:left;
    width:16em;
    display:inline-block;
}

.comment-data {
    float:right;
    display:inline-block;
    width:calc(100% - 16em);
    word-wrap:normal;
    word-break:normal;
}

.comment-data ul li {
    list-style:circle;
}

.comment-data ol li {
    list-style:decimal;
}

.summary {
    color:#777;
    font-size:0.9em;
}

.reply:hover, .source:hover, .edit:hover {
	cursor:pointer;
}

.navbar-inverse .nav > li.unread-notifications > a {
	color:rgb(192, 110, 17)!important;
}

.sidebar {
	min-width:300px;
	max-width:300px;
	float:right;
    background-color:#383838;
}

.sidebar h2 {
        white-space: normal
}

.notification-read {
	padding:1em;
	margin:1em;
	margin-bottom:0;
	border:1px solid rgba(83, 83, 24, 1);
}

.notification-unread {
	padding:1em;
	margin:1em;
	margin-bottom:0;
	border:1px solid rgba(147, 73, 56, 1);
}

.notification-read header,
.notification-read footer,
.notification-unread header,
.notification-unread footer {
	background:rgba(255, 255, 255, 0.1);
}
