@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:300);

@font-face {
    font-family: "Segoe UI";
    src: url("/assets/fonts/segoe-ui.woff") format('woff');
}

@font-face {
    font-family: "Segoe UI";
    src: url("/assets/fonts/segoe-ui-bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Segoe UI";
    src: url("/assets/fonts/segoe-ui-light.woff") format('woff');
    font-weight: lighter;
}

/*undo shit*/
a:hover {
    background:transparent;
}

a.vote::before {
    border:0;
    transform:none;
    transition:none;
    position:static;
    margin:0;
    background:transparent;
}

a.vote::after {
    content: "";
    position:static;
    opacity:1.0;
    visibility:visible;
    transition:none;
    background:transparent;
    color:#fff;
    padding:0.1em;
    transform:none;
    transition:none;
    position:static;
    margin:0;
    border:0;
}

a.vote:hover:after {
    background:transparent;
    transform:none;
    transition:none;
    border:0;
}

/*body .navbar.navbar-inverse .navbar-inner.dark-navbar*/

#sections-navbar {
    background-color:transparent;
    box-shadow:none;
}

/*start theme*/
html, body {
    background-color:#f9f9f9;
    font-family: 'Segoe UI', sans-serif;
    font-weight:lighter;
}

body {
    font-size:1.2em;
    color:#3A3A3A;
}

a {
    color:#F9F9F9;
}
a:hover {
    color:#EB1C24;
}

.navbar-inner {
    padding:0;
}

.navbar {
    margin:0;
}

body .navbar.navbar-inverse .navbar-inner.dark-navbar {
    box-shadow:none;
}

#sections-navbar .container {
    margin:0;
}

#sections-navbar ul.nav {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    background:transparent;
    height: auto;
    overflow:auto;
}

#sections-navbar .nav>li {
    margin-right:3px;
    margin-bottom:3px;
    margin-top:0px;
    display: inline-block;
    white-space: normal;
    float:none;
}

#sections-navbar .nav>li>a {
    font-size:1.2em;
    background:#FFF;
    color:#111;
    padding:0.2em 0.6em 0.2em 0.6em;
}

#sections-navbar .nav>li.active>a {
    color:#EC161E;
    font-weight: bold;
}

#header-nav h2.section-title {
    position: relative;
    top:4.5em;
    width:calc(100vw / ((3 * 3) + (2 * 2)) * 2);
    white-space: normal;
    margin:0;
    height:auto;
}

#header-nav h2.section-title a {
    font-weight: bold;
    color:#EC161E;
    font-size: 2vw;
    width:100%;
    position: absolute;
    top:0;
    left: 0;
    word-wrap:break-word;
}

#header-nav {
    background:transparent;
    height:2em;
    margin-bottom:2em;
}

.navbar #header-nav .nav>li {
    margin-right:0.2em;
}

#header-nav .nav>li>a {
    background:transparent;
    color:#222;
    padding:0.2em 0.6em 0.2em 0.6em;
    padding-right:1em;
    font-size:1.2em;
}

#header-nav .nav>li.active>a {
    color:#EC161E;
}

#footer-navbar {
    clear:both;
}

#footer-navbar .nav {
    background:transparent;
}

#footer-navbar .nav>li a {
    background:transparent;
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
    color:#444;
}


.container {
    background-color:#f9f9f9;
    width:100%;
}

.posts-container {
    position:relative;
    float:left;
    left:calc(100% / ((3 * 3) + (2 * 2)) * 2);
    width:calc(100% / ((3 * 3) + (2 * 2)) * 3 * 3);
}

.sidebar {
    float:right;
    width:calc(100% / ((3 * 3) + (2 * 2)) * 2);
    max-width: initial;
    min-width: initial;
    background-color: transparent;
    background-color: #000;
}

.post-piece {
    width:32%;
    /* wtf?
    100%(viewport width) / ((( 13(3*3 + 2*2 sidebars and center tiles) / tile_h(height of large tile image: 221) / tile_w(width of large tile image: 480) ))) * 3(3 is tile width from 13 cols) 
    */
    height:calc(100vw / (((3 * 3) + (2 * 2)) / (221 / 480)) * 3);
    margin:0.6%;
    float:left;
    clear:none;
    position:relative;
    background-color:#3A3A3A;
    padding:0;
}

@media (max-width:490px) { .post-piece {
    margin-left:0px;
    margin-right:0px;
}}

.post-piece:nth-child(odd) {
    background-color:#3A3A3A;
}


.post-piece .post-thumbnail {
    float:none;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:5;
}

.post-piece.self .post-thumbnail {
    display:none;
}

.post-piece .post-thumbnail .thumb-small {
    display:none;
}
.post-piece .post-thumbnail .thumb-large {
    display:inline;
}
.post-piece .post-thumbnail .thumb-large .thumb-img {
    width:calc(100vw / ((3 * 3) + (2 * 2)) * 3);
    height:calc(100vw / (((3 * 3) + (2 * 2)) / (221 / 480)) * 3);
    background-size: cover;
}

@media (max-width: 1275px) {
    .posts-container {
        float:right;
        left:0;
        width:calc(98% / ((2 * 3) + (1 * 2)) * 3 * 2);
    }

    .sidebar {
        float:left;
        width:calc(100% / ((2 * 3) + (1 * 2)) * 2);
    }

    .post-piece {
        width:48.5%;
        height:calc(100vw / (((2 * 3) + (1 * 2)) / (221 / 480)) * 3);
    }

    .post-piece .post-thumbnail .thumb-large .thumb-img {
        width:calc(100vw / ((2 * 3) + (1 * 2)) * 3);
        height:calc(100vw / (((2 * 3) + (1 * 2)) / (221 / 480)) * 3);
    }
}

.post-thumbnail .thumb-img {
    background-image:url(/assets/img/whitebgtile.png);
}

.post-piece .post-points {
    float:none;
    position:absolute;
    bottom:0px;
    right:0px;
    background-color:#3A3A3A;
    z-index:10;
    overflow:visible;
    width:auto;
    padding-left:0.3em;
    padding-right:0.3em;
}

.post-piece .post-points .points-actions .total-points {
    float:left;
    margin-right:1em;
}

.post-piece .post-points .points-actions .total-points::after {
    content:" points ";
}

a.vote .voteiconup,
a.vote .voteicondown {
    color:#9D9D9D;
}

a.vote.selected .voteiconup,
a.vote.selected .voteicondown {
    color:#F32027;
}

.voteiconup::after {
    content: "\002B";
}

.voteicondown::after {
    content: "\2212";
}

.post-piece .post-points .points-actions .upvotes,
.post-piece .post-points .points-actions .downvotes,
.post-piece .post-points .points-created-at,
.post-piece .post-points .points-creator
{
    display:none;
}

.post-piece .post-data .data-title-and-section {
    position:absolute;
    bottom:-0.4em;
    left:0px;
    height:2em;
    width:100%;
    background-color:#3A3A3A;
    z-index:6;
    padding-left:1em;
}
.post-piece.self .post-data .data-title-and-section {
    top:0px;
    font-size:1.5em;
    background-color:transparent;
    padding:0.3em;
}

.post-piece .post-data .data-title-and-section a {
    color:#d8d8d8;
}

.post-piece .post-data .post-title-section-separator::before {
    color:#d3d3d3;
    content: " | ";
}

.post-piece .post-data .data-url-and-comments .post-url,
.post-piece .post-data .data-url-and-comments .post-url-comments-link-separator {
    display:none;
}

.post-piece.self .post-data .data-url-and-comments {
    z-index:1000;
}

.post-piece.self .post-data .data-url-and-comments {
    display:none;
}

.post-piece .post-data .post-comments-link {
    z-index:1000;
    position:absolute;
    top:0px;
    right:0px;
    background-color:#4285F4;
    padding-left:0.4em;
    padding-right:0.4em;
}

.post-piece .post-data a.post-comments-link {
    color:rgba(255, 255, 255, 0.8);
}

.post-piece .post-data a.post-comments-link:hover {
    color:rgba(255, 255, 255, 1.0);
}

.post-piece .post-data .post-comments-link::before {
    content: "comments: ";
}

.post-piece .post-data .post-comments-link::after {
    content: "";
}

.post-piece .post-data .data-summary {
    display:none;
}

.post-piece .post-data .data-summary {
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:0.2em;
}

.post-piece.self .post-data .data-summary {
    text-indent:1em;
}

.post-piece.self .post-data .data-summary .summary {
    position:absolute;
    bottom:2.5em;
    color:#C4c4c4;
    font-family: 'Lato';
    font-weight:300;
    font-size:1.1em;
    display:block;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    clear:both;
    color:#777;
}

.pagination a {
    color:#111;
}

.media-box {
    z-index: 10;
    position: absolute;
    width:100%;
    height: 100%;
}

.media-box iframe {
    width: 100%!important;
    height: 100%!important;
}

.nsfw,
.nsfl  {
    -o-filter:      blur(10px);
    -ms-filter:     blur(10px);
    -moz-filter:    blur(10px);
    -webkit-filter: blur(10px);
    filter:         blur(10px);

    -o-transition:      0.15s;
    -ms-transition:     0.15s;
    -moz-transition:    0.15s;
    -webkit-transition: 0.15s;
    transition:         0.15s;
}

.nsfw:hover,
.nsfl:hover {
    -o-filter:      blur(0px);
    -ms-filter:     blur(0px);
    -moz-filter:    blur(0px);
    -webkit-filter: blur(0px);
    filter:         blur(0px);
}